# PostgreSQL
POSTGRES_USER=fiapx
POSTGRES_PASSWORD=fiapx
POSTGRES_DB=fiapx

# RabbitMQ
RABBITMQ_USER=fiapx
RABBITMQ_PASS=fiapx

# Grafana
GRAFANA_USER=admin
GRAFANA_PASS=admin

# JWT (auth-service / video-api)
JWT_SECRET=dev-secret-change-me

# Storage S3 (SeaweedFS/LocalStack em dev; S3 real em produção)
STORAGE_DRIVER=s3
S3_ENDPOINT=localhost:8333
S3_ACCESS_KEY=test
S3_SECRET_KEY=test
S3_BUCKET=fiapx
S3_REGION=us-east-1
